body{margin: 35px;
    background-color: rgb(192, 192, 255);
}
H1{color: rgb(42, 165, 128);
    text-align: center;
    font-family: cursive;
}
P1{font-size: 25px;
    font-family: cursive;
}
P2{font-size: 25px;
    font-family: cursive;
}
P3{font-size: 25px;
    font-family: cursive;
}
